@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Major+Mono+Display&display=swap');


/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  background:url(imagenes/fibonacci-wallpaper.jpg) no-repeat center;
}

h2{
  color:rgb(255, 102, 0);
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 10px;
  width: 80%;
}

/* CONTENEDORES */

.contenedor-principal {
  margin-left: 50px;
  display: flex;
  height: 80%;
  max-width: 50%;
  flex-wrap: wrap;  
  align-items: start;
  justify-content: center;
  background-color: aliceblue;
  opacity: 0.8;
  border:2px solid black

}

.contenedor-principal .title{
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(255, 102, 0, 0.551);
  padding: 50px;
}

.contenedor-interno{
  width: 100%;
  display: flex; 
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Estilo ingreso numero*/
.contenedor {
  width: 80%;
  padding: 20px;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor input{
  text-align: center;
  font-size: 1.8rem;
  max-width:17%;
  margin:20px;
  height: 50px;
}

.contenedor label{
  padding: 0px 20px;
  font-size: 1.5rem;
  font-weight: 500;
}


/*Estilo visualizacion conversion */
.contenedor-serie{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.contenedor-respuesta{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#serie{
  width: 80%;
  margin: 5px;
  border: 3px solid rgb(255, 102, 0);
  background-color:rgba(255, 102, 0, 0.551) ;
  padding: 10px;
}






